.component1-container {
  display: flex;
  position: relative;
}
.component1-form {
  width: 484px;
  height: 583px;
  position: relative;
  align-self: stretch;
  border-color: var(--dl-color-gray-black);
  border-style: outset;
  border-width: 1px;
  background-color: rgba(0, 0, 0, 0.5);
}
.component1-textinput {
  top: 150px;
  left: 70px;
  width: 362px;
  height: 51px;
  margin: auto;
  position: absolute;
  text-align: center;
}
.component1-textinput1 {
  top: 215px;
  left: 70px;
  width: 362px;
  height: 51px;
  margin: auto;
  position: absolute;
  text-align: center;
}
.component1-button {
  top: 310px;
  left: 200px;
  position: absolute;
  transition: 0.3s;
}
.component1-button:hover {
  background-color: #1bd0ff;
}
